body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  background: linear-gradient(to right, #3498db, #6cb1ea);
  color: #fff;
  text-align: center;
  font-size: 25px;
  padding: 20px;
}

aside {
  background: #f0f0f0;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  float: left;
}

#citySearch {
  font-size: 1.5em;
}

#input {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
}

#searchBtn {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
}

#pastSearches {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.lastLog li {
  background: #f0f0f0;
  padding: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

main {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#currentIcon, #currentTemp, #currentWind, #currentHumidity, #currentDate {
  background-color: white;
  text-align: center;
  padding: 5px;
}

#currentSearch {
  font-weight: bold;
  font-size: larger;
  color: #3498db;
}

#weatherInfo {
  background: #f0f0f0;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  list-style: none;
}

#forecast {
  font-size: 1.2em;
  margin-bottom: 10px;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#day1, #day2, #day3, #day4, #day5 {
  background: #f0f0f0;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  width: calc(20% - 10px);
  box-sizing: border-box;
}